@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

main{
    background-image: url("./imagens/praia-2.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: rgb(0, 0,0.9);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


img {
    width: 300px;
    height: 200px;
}

:root {
    --bg-color:#065c81;
    --cor-secundaria: #1c99e0;
    --cor-terciaria: #fff;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

header .logo {
    margin-left: 20px;
    color: var(--cor-secundaria);
}

.nav-bar {
    display: flex;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 0 20px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    transition: 0.5s ease;
}

.nav-bar a:hover {
    color:var(--bg-color);
}

.secao-hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 150px;
}

.conteudo-hero h1{
    color: var(--cor-terciaria);
    font-size: 3rem;
}

.conteudo-hero p {
    color: var(--cor-terciaria);
    font-weight: 600;
    text-align: justify;
    margin-bottom: 20px;

}

.conteudo-hero .btn-hero {
    width: 50%;
    padding: 10px 15px;
    background: var(--cor-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    margin-bottom: 20px;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.conteudo-hero .btn-hero:hover {
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    background: var(--bg-color);
}

.conteudo-hero .link-hero {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.redes-sociais {
    width: 100%;
    display: flex;
    gap: 3.5em;
}

.redes-sociais a {
    color: var(--cor-terciaria);
    font-size: 20px;

}

.redes-sociais a:hover {
    color: var(--cor-secundaria);
}

.secao-viagens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.conteudo-viagens h1 {
    text-align: center;
    color: var(--cor-secundaria);
    font-weight: bold;
    font-size: 2.4rem;
}

.imagem-viagens {
    width: 100%;
    display: flex;
    gap: 5em;
    margin-top: 50px;
}


.imagem-viagens p {
    text-align:center;

}

.imagem-viagens span {
    text-align:center;
    
}

.star-yellow {
    color: yellow;
}

h5 {
    text-align: center;
}

.border-img {
    border-radius: 10px;

}

.borda {
    border: 1px solid;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: 0;
    transition: .3s ease-in-out;
}

.borda:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.tabela-precos {
    display: flex;
}

.conteudo-precos h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.4rem;
    color: var(--cor-secundaria);
}

.area-precos {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

.destino h2 {
    text-align: center;
}

table {
    border-collapse:collapse;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 80px;
}

td, th {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    font-weight: 600;
}

th {
    background-color: var(--cor-secundaria);
}

tr {
    border-bottom: 1px solid var(--cor-secundaria);
}

.destino, .custo {
    color: var(--cor-terciaria);
}

footer {
    background:var(--bg-color);
    padding: 10px 0;
}

footer h6 {
    text-align: center;
    font-size: 13px;
    color: var(--cor-terciaria);
    font-weight: 500;
}

.redes-sociais-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    margin-top: 10px;
}

.redes-sociais-footer a {
    color: var(--cor-terciaria);
}